
head
  meta(charset="utf-8")
  title=title
  meta(name="description", content="#{ description }")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href="/css/flexslider.css", rel="stylesheet", type="text/css", media="all")
  link(href="/css/line-icons.min.css", rel="stylesheet", type="text/css", media="all")
  link(href="/css/elegant-icons.min.css", rel="stylesheet", type="text/css", media="all")
  link(href="/css/lightbox.min.css", rel="stylesheet", type="text/css", media="all")
  link(href="/css/bootstrap.css", rel="stylesheet", type="text/css", media="all")
  link(href="/css/theme.css", rel="stylesheet", type="text/css", media="all")
  link(href="https://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro:400,600,700,900", rel="stylesheet", type="text/css")
  script(src="/js/modernizr-2.6.2-respond-1.1.0.min.js")
body
  .nav-container
    nav.top-bar
      .container
        .row.utility-menu
          .col-sm-12
            .utility-inner.clearfix
              span.alt-font
                i.icon.icon_mail
                | #{email}
        // end of row
        .row.nav-menu
          .col-xs-12.col-sm-3
            a(href="index.html").navbar-brand.logo RepairKid
          .col-xs-12.col-sm-7
            ul.menu
              li
                a(href="/") Home
              li
                a(href="/services/") Services
              li
                a(href="/about/") About
              li
                a(href="/contact/") Contact
          .col-xs-12.col-sm-2
            ul.social-icons.text-right
              li
                a(href="#")
                  i.icon.social_twitter
              li
                a(href="#")
                  i.icon.social_facebook
        // end of row
        .mobile-toggle
          i.icon.icon_menu
      // end of container



//- head
//-   meta(charset="utf-8")
//-   title=title
//-   meta(name="description", content="#{ description }")
//-   meta(name="viewport", content="width=device-width, initial-scale=1")
//-   link(href="/css/flexslider.css", rel="stylesheet", type="text/css", media="all")
//-   link(href="/css/line-icons.min.css", rel="stylesheet", type="text/css", media="all")
//-   link(href="/css/elegant-icons.min.css", rel="stylesheet", type="text/css", media="all")
//-   link(href="/css/lightbox.min.css", rel="stylesheet", type="text/css", media="all")
//-   link(href="/css/bootstrap.css", rel="stylesheet", type="text/css", media="all")
//-   link(href="/css/theme.css", rel="stylesheet", type="text/css", media="all")
//-   link(href="https://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro:400,600,700,900", rel="stylesheet", type="text/css")
//-   script(src="/js/modernizr-2.6.2-respond-1.1.0.min.js")
//- body
//-   .nav-container
//-   nav.top-bar
//-     .container
//-       .row.utility-menu
//-         .col-sm-12
//-           .utility-inner.clearfix
//-             span.alt-font
//-               i.icon.icon_mail
//-               | #{email}
//-             //.pull-right
//-             //  a.btn.btn-primary.login-button.btn-xs(href="login.html") Login
//-             //  a.btn.btn-primary.btn-filled.btn-xs(href="#") Signup
//-       // end of row
//-       .row.nav-menu
//-         .col-sm-4.columns
//-           a(href="index.html").navbar-brand RepairKid
//-         .col-sm-6.columns
//-           ul.menu
//-             li
//-               a(href="/") Home
//-             li
//-               a(href="/about/") About
//-             li.has-dropdown
//-               a(href="#") Blog
//-               ul.subnav
//-                 li
//-                   a(href="blog.html") Blog Post
//-                 li
//-                   a(href="blog-single.html") Article Single
//-                 li
//-                   a(href="blog-single-2.html") Article Single 2
//-             li.has-dropdown
//-               a(href="#") Projects
//-               ul.subnav
//-                 li
//-                   a(href="projects.html") Projects Fullwidth
//-                 li
//-                   a(href="projects-2.html") Projects Contained
//-                 li
//-                   a(href="project-single-2.html") Project Single
//-                 li
//-                   a(href="project-single.html") Project Single 2
//-             li.has-dropdown
//-               a(href="#") Contact
//-               ul.subnav
//-                 li
//-                   a(href="contact-3.html") Large Map
//-                 li
//-                   a(href="contact-2.html") Map with form
//-                 li
//-                   a(href="contact.html") Header with form
//-                 li
//-                   a(href="contact-4.html") Fullscreen photo
//-         .col-sm-2.columns.text-right
//-           ul.social-icons.text-right
//-             li
//-               a(href="#")
//-                 i.icon.social_twitter
//-             li
//-               a(href="#")
//-                 i.icon.social_facebook
//-       // end of row
//-       .mobile-toggle
//-         i.icon.icon_menu
//-     // end of container

